html,body{ 
    background: rgb(175,103,233);
    background: linear-gradient(90deg, rgba(175,103,233,1) 35%, rgba(101,101,231,1) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

